<div id="<%= dom_id post %>" data-controller="editor">
  <p>
    <strong>Body:</strong>
    <div id="editor" readonly></div>
    <input id="post_body" hidden value="<%= post.body %>" data-editor-target="body"/>
  </p>
</div>
